input.apassword {
  position: absolute;
  color: #fff;
  opacity: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  left: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-user-select:initial; /* 取消禁用选择页面元素 */
}

div.apassword {
  display: -webkit-box;
  border: 1px solid #666666;
  -webkit-border-radius: 4px;
  background: #ebebeb;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  cursor:text;
  background:#fff;
}

div.apassword.active {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

div.apassword i {
  display: block;
  -webkit-box-flex: 1;
  background: none;
  padding: 15px 0;
}
div.apassword  i:nth-child(n+2) {
  border-left: 1px solid #cccccc;
}

div.apassword b {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  overflow: hidden;
  background: #000;
  -webkit-border-radius: 10px;
  visibility:hidden;
}
